@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .background-img {
    @apply bg-main-background-img bg-no-repeat bg-center bg-cover opacity-70;
  }
  
  .center-size {
    @apply h-full min-w-0 max-w-[1160px];
  }

  .link-underline::after {
    border-bottom: 2px solid black;
    content: "";
    display: block;
    position: relative;
    top: 0.2rem;
    transform: scaleY(0.6) scaleX(0) translateZ(0);
    /* transform-origin: left;  Changes where the animation starts from */
    transition: transform 175ms ease-in-out;
  }

  .link-underline:hover::after {
    transform: scaleX(1);
  }
}

#root {
  margin: 0;
  padding: 0;
}