@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .background-img {
    @apply bg-main-background-img bg-no-repeat bg-center bg-cover opacity-70;
  }

  .outer-container {
    @apply flex flex-col h-screen items-center;
  }

  .inner-container {
    @apply flex w-full flex-grow justify-center;
  }

  .main-container {
    @apply flex flex-col w-full h-full flex-grow sm:items-center;
  }
  
  .center-size {
    @apply min-w-0 max-w-[1160px];
  }
  
  .main-hero {
    @apply grid grid-rows-[auto,1fr] h-[60%] px-10 center-size
    sm:grid-cols-2 sm:grid-rows-1 sm:h-[680px] sm:items-center sm:justify-items-center;
  }
  
  .page-container {
    @apply flex flex-col mt-8 items-center text-xl;
  }
  
  .show-stack {
    @apply flex flex-col items-center justify-center gap-4 sm:gap-1;
  }

  .link-underline::after {
    border-bottom: 2px solid black;
    content: "";
    display: block;
    position: relative;
    top: 0.2rem;
    transform: scaleY(0.6) scaleX(0) translateZ(0);
    /* transform-origin: left;  Changes where the animation starts from */
    transition: transform 175ms ease-in-out;
  }

  .link-underline:hover::after {
    transform: scaleX(1);
  }

  .form-input {
    @apply p-4 rounded-xl bg-gray-200 border-2;
  }

  .form-input:hover {
    @apply border-slate-700 transition-[border] duration-300;
  }

  .form-input:focus {
    @apply border-slate-700 outline-none;
  }

  .form-item-container {
    @apply flex flex-col gap-y-2 w-full;
  }

  .header-container {
    @apply flex flex-row justify-center items-center w-full px-10 py-8 bg-brand shadow-2xl z-[2];
  }

  .logo-container {
    @apply flex flex-col items-center gap-y-1 w-full px-10 sm:flex-row sm:center-size;
  }

  .logo {
    @apply flex flex-col items-center;
  }

  .logo-top-container {
    @apply flex flex-row justify-center;
  }

  .logo-top-chinese {
    @apply font-tc text-4xl;
  }

  .logo-top-english {
    @apply font-script text-3xl self-center;
  }

  .logo-bottom {
    @apply text-2xl text-nowrap;
  }

  .header-spacer {
    @apply w-96;
  }

  .header-directory-container {
    @apply flex flex-row px-5 my-2 gap-5 w-full justify-center sm:justify-end;
  }

  .header-directory-item {
    @apply text-2xl link-underline;
  }

  .footer-container {
    @apply flex flex-row justify-center w-full bg-brand py-8;
  }

  .directory-text {
    @apply text-xl font-semibold;
  }

  .directory-container {
    @apply flex flex-row text-center;
  }

  .directory-left-container {
    @apply flex flex-col gap-x-8 pr-8;
  }

  .directory-right-container {
    @apply flex flex-col gap-x-8;
  }

  .directory-item {
    @apply text-base sm:text-lg;
  }

  .hero-stack {
    @apply flex flex-col text-center items-center gap-5;
  }

  .hero-stack-heading {
    @apply text-4xl sm:text-5xl font-semibold;
  }

  .hero-stack-subheading {
    @apply text-2xl sm:text-3xl;
  }

  .hero-stack-call-to-action {
    @apply px-4 py-2 text-xl bg-brand rounded-lg font-semibold;
  }

  .hero-image {
    @apply p-10 sm:w-[60%] sm:object-contain sm:p-0;
  }

  .carousel-container {
    @apply flex flex-col p-4 mt-8 bg-gray-300 w-full shadow-2xl z-[2] sm:center-size sm:min-w-full;
  }

  .carousel-heading {
    @apply p-4 self-center text-lg text-center font-semibold w-[80%] sm:w-[40%] sm:text-2xl;
  }

  .carousel-label {
    @apply text-xl text-center;
  }

  .carousel {
    @apply w-full p-8;
  }

  .carousel-image {
    @apply sm:h-[700px] object-contain rounded-xl;
  }

  .g-map-text-container {
    @apply flex flex-col sm:flex-row;
  }

  .g-map-container {
    @apply w-full h-[500px];
  }

  .visit-us-text-stack {
    @apply flex flex-col items-center text-center gap-y-8 p-8;
  }

  .english-chinese-stack {
    @apply flex flex-col px-4;
  }

  .email {
    @apply text-purple-800 underline;
  }

  .qrcode {
    @apply sm:w-1/2 p-8;
  }

  .gallery-heading {
    @apply px-8;
  }

  .mobile-masonry {
    @apply flex flex-col p-8 gap-y-4;
  }

  .masonry {
    @apply p-8;
  }

  .masonry-image {
    @apply rounded-lg w-full;
  }
}

#root {
  margin: 0;
  padding: 0;
}

